.login-container {
    font-size: 20px;
    padding: 29.5px 100px 10px 100px;
}
.nav-logo-container{
    margin-top: -105%;
    margin-left: -25%;
    text-align: center;
}

.user-login {
    width: 500px;
    margin: 0 auto;
  }
  
  .user-login__title {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 40%;
    text-align: center;
  }
  
  .user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .user-login__form-control label {
    margin-bottom: 5px;
    color: #000000;
    font-size: 25px;
  }
  
  .user-login__form-control input {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 36px;
    padding: 5px 10px;
  }

  .btn-container{
    margin-top: 10%; 
    margin-bottom: 10%;

  }

  @media (min-width: 576px) {
    .home-container {
      padding: 15px;
      font-size: 40px;
    }
  
    .home-content-container h1 {
      width: 506px;
      margin-bottom: 25px;
    }
  
    .home-content-container p {
      width: 506px;
      margin-bottom: 30px;
    }
  
    .home-image-container svg {
      width: 506px;
    }
  }
  
  @media (min-width: 768px) {
    .home-image-container {
      padding: 100px 20px;
    }
  
    .home-content-container {
      padding: 20px 20px 100px 20px;
    }
  }
  
  @media (min-width: 992px) {
    .home-container {
      font-size: 55px;
      padding: 40px;
    }
  
    .home-image-container {
      padding: 125px 20px;
    }
  
    .home-content-container {
      padding: 20px 20px 150px 20px;
    }
  
    .home-content-container h1 {
      width: 700px;
      margin-bottom: 26px;
    }
  
    .home-content-container p {
      width: 700px;
      margin-bottom: 47px;
    }
  }
  
  @media (min-width: 1200px) {
    .home-card {
      flex-direction: row;
      justify-content: space-around;
      padding: calc(((85vh - 480px) / 2) - 20px) 0;
    }
  
    .home-content-container {
      height: 480px;
      width: 700px;
      padding: 20px;
      align-items: flex-start;
      text-align: left;
      align-content: space-between;
      flex-flow: wrap;
    }
  
    .home-image-container {
      display: flex;
      align-items: center;
      padding: 30px;
    }
  
    .home-image-container svg {
      width: 100%;
    }
  }
  
  @media (min-width: 1400px) {
    .home-image-container svg {
      width: 550px;
    }
  }

  